@charset "utf-8";
@import "../lib/layui/css/layui.css";

.layui-body {
    border: 1px solid red;
}

.layui-body .layui-tab {
    height: 100%;
}

.layui-body .layui-tab .layui-tab-title {

}

.layui-body .layui-tab .layui-tab-content {
    height: 100%;
}

.layui-body .layui-tab .layui-tab-content .layui-tab-item {
    height: 100%;
}

.layui-body .layui-tab .layui-tab-content .layui-tab-item iframe {
    height: 100%;
}