/*==============================================美化滚动条代码==============================================*/
/*滚动条整体部分*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/*滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。*/
::-webkit-scrollbar-button:vertical {
    display: none;
}

/*滚动条的轨道（里面装有Thumb）*/
::-webkit-scrollbar-track:vertical {
    background-color: black;
}

/*内层轨道，滚动条中间部分（除去）*/
::-webkit-scrollbar-track-piece {
    background-color: #F5F5F5;
}

/*滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）*/
/*如何只控制横向滚动条样式则应该写成： ::-webkit-scrollbar-thumb:vertical */
::-webkit-scrollbar-thumb {
    margin-right: 10px;
    background-color: #A6A6A6;
}

/*如何只控制横向滚动条样式则应该写成： ::-webkit-scrollbar-thumb:vertical:hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/*边角，即两个滚动条的交汇处*/
::-webkit-scrollbar-corner:vertical {
    background-color: #535353;
}

::-webkit-scrollbar-resizer:vertical {
    background-color: #FF6E00;
}