/*美化滚动条代码*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track:vertical {
    background-color: black;
}

::-webkit-scrollbar-track-piece {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:vertical {
    margin-right: 10px;
    background-color: #A6A6A6;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #aaa;
}

::-webkit-scrollbar-corner:vertical {
    background-color: #535353;
}

::-webkit-scrollbar-resizer:vertical {
    background-color: #FF6E00;
}