/*主体内容样式*/
.ok-body {
    padding: 10px
}

/*子页面面包屑导航样式*/
.ok-body-breadcrumb {
    position: relative;
    line-height: 39px;
    height: 41px;
    border-bottom: 1px solid #e5e5e5
}

/*子页面面包屑导航刷新按钮样式*/
.ok-body-breadcrumb .layui-btn {
    line-height: 2.4em;
    margin-top: 3px;
    float: right
}

/*子页面面包屑导航刷新按钮图标样式*/
.ok-body-breadcrumb .layui-btn .layui-icon {
    line-height: 40px
}