/*主体内容样式*/
.ok-body {
    padding: 10px
}

/*子页面面包屑导航样式*/
.ok-body-breadcrumb {
    position: relative;
    line-height: 39px;
    height: 41px;
    border-bottom: 1px solid #e5e5e5
}

/*子页面面包屑导航刷新按钮样式*/
.ok-body-breadcrumb .layui-btn {
    line-height: 2.4em;
    margin-top: 3px;
    float: right
}

/*子页面面包屑导航刷新按钮图标样式*/
.ok-body-breadcrumb .layui-btn .layui-icon {
    line-height: 40px
}

/*搜索区域样式*/
.ok-search {
    margin-top: 15px;
}

.ok-search .layui-input {
    width: 190px;
    padding-left: 10px;
    margin-left: 10px;
    float: left;
}

.ok-search .layui-input:first-child {
    margin-left: 0px;
}

.ok-search .layui-btn {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .ok-search .layui-input {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }

    .ok-search .layui-btn {
        margin-left: 0px;
        margin-top: 10px;
    }
}

okToolbar {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    line-height: 22px;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}

okToolbar span {
    float: right;
    line-height: 30px;
}

/*form表单*/
.ok-form {
    margin-top: 10px;
}