/*主体内容样式*/
.ok-body {
    padding: 10px
}

/*welcome页面*/
.layui-row-margin {
    margin: 10px 5px 5px 5px;
}

.md2-sub1 {
    width: 40%;
    text-align: center;
    line-height: 80px;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.md2-sub1 i {
    font-size: 40px;
    display: block;
    cursor: pointer;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}

.md2-sub1 i:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.md2-sub2 {
    width: 60%;
    display: inline-block;
    background-color: #f2f2f2;
    line-height: 46px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.md2-sub2 span {
    font-size: 25px;
    display: block;
    height: 34px;
}

.md2-sub2 cite {
    font-style: normal;
}

/*其他子页面*/
/*子页面面包屑导航样式*/
.ok-body-breadcrumb {
    position: relative;
    line-height: 39px;
    height: 41px;
    border-bottom: 1px solid #e5e5e5
}

/*子页面面包屑导航刷新按钮样式*/
.ok-body-breadcrumb .layui-btn {
    line-height: 2.4em;
    margin-top: 3px;
    float: right
}

/*子页面面包屑导航刷新按钮图标样式*/
.ok-body-breadcrumb .layui-btn .layui-icon {
    line-height: 40px
}

/*搜索区域样式*/
.ok-search {
    margin-top: 15px;
}

.ok-search .layui-input {
    width: 190px;
    padding-left: 10px;
    margin-left: 10px;
    float: left;
}

.ok-search .layui-input:first-child {
    margin-left: 0px;
}

.ok-search .layui-btn {
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .ok-search .layui-input {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }

    .ok-search .layui-btn {
        margin-left: 0px;
        margin-top: 10px;
    }
}

okToolbar {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    line-height: 22px;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}

okToolbar span {
    float: right;
    line-height: 30px;
}

/*form表单*/
.ok-form {
    margin-top: 10px;
}